body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #006400;
    margin: 0;
    overflow: hidden;
}

.blackjack-table {
    background-color: #228B22;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #000;
    color: white;
    text-align: center;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-hand {
    display: flex;
    margin: 10px 0;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #ffa500;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #808080;
    cursor: not-allowed;
}

.card {
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    width: 50px;
    height: 70px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.card.hidden {
    background-color: #b22222;
    color: transparent;
}

.card-back {
    width: 50px;
    height: 75px;
    background-color: #b22222;
    border-radius: 5px;
    border: 1px solid black;
}

.card.red {
    color: red;
}

.card.black {
    color: black;
}

.card-stack-area, .discard-pile-area {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-board {
    margin-top: 20px;
    background-color: #333;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.chip-area {
    margin-bottom: 20px;
}
